:root {
  --global-font-family: 'Roboto', sans-serif;
  --base-font-size: 16px;
}

body {
  position: relative;
  font-family: var(--global-font-family) !important;
}

* {
  font-family: var(--global-font-family) !important;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/bg-watermark.png) center/1380px no-repeat;
  opacity: 0.1;
  z-index: -1;

}

.container-fluid {
  padding: 0px 50px !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #FFAF50;
  border-radius: 5px;
}

@media only screen and (max-width: 499px) {
  .container-fluid {
    width: 100% !important;
    padding: 0px 15px !important;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

[data-aos] {
  transition-property: transform, opacity !important;
}

[data-aos="fade-up"] {
  transform: translateY(50px);
  opacity: 0;
}

[data-aos].aos-animate {
  transform: translateY(0);
  opacity: 1;
}

.custom-commissioner-data{
  font-size: calc(var(--base-font-size));
}

.custom-property-text{
  font-size: calc(var(--base-font-size));
}