.new-location-title {
  font-size: calc(var(--base-font-size));
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: -5px;
}

.new-location-title .new-highlight {
  color: #333333;
  font-weight: 600;
  color: #f37f1a;
}

.new-highlighted-text {
  font-weight: 600;
}

#rec-css .table-bordered td,
.table-bordered th {
  vertical-align: middle;
}

#rec-css .bg-orange {
  background-color: #EDEDED !important;
}

#rec-css .system-style-div {
  display: flex;
  background-color: #F3F3F3;
  align-items: center;
  font-weight: 700;
  font-size: calc(var(--base-font-size));
  padding: 10px 20px;
}

#rec-css .span-system1 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: calc(var(--base-font-size));
}