.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.home-carousel-section {
  margin-top: 10px !important;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -20px;
}

.custom-profile-card {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 6px 12px;
  box-shadow: 0 10px 10px rgba(142, 140, 140, 0.4);
  border-radius: 9px;
}

.custom-flex{
  display: flex;
}

.custom-profile-card .image {
  width: 65px !important;
  height: 70px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #1A2B3B !important;
}

.custom-profile-card .name-color {
  font-family: 'Roboto';
  color: #1A2B3B !important;
  font-weight: 500;
}

.custom-profile-card .position-custom {
  font-family: 'Roboto';
  margin-top: 2px;
  color: #1A2B3B !important;
  font-weight: 400;
}

.swiper-pagination {
  position: absolute !important;
  gap: 15px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  background-color: #F0A64E80;
  border-radius: 20px !important;
  width: 180px !important;
  margin: 0 !important;
  padding-top: 5px !important;
}

.swiper-pagination-bullet {
  height: 20px !important;
  width: 20px !important;
  border: 1px solid #fff !important;
  background-color: #7B202A !important;
}
.swiper-pagination-bullet:not(:first-child){
  margin-left: 15px !important;

}

.carousel-image-slider {
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  height: 390px;
}

.carousel-image-slider img {
  width: 100%;
  max-height: 100%;
}

@media (max-width: 1400px) {
  .custom-profile-card {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0 10px 10px rgba(142, 140, 140, 0.4);
    border-radius: 12px;
  }

  .custom-profile-card .image {
    width: 75px !important;
    height: 85px !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  .home-carousel-section {
    display: flex;
    flex-wrap: wrap;
  }

  .carousel-image-slider {
    height: auto;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  .custom-profile-card {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 12px 10px ;
    box-shadow: 0 10px 10px rgba(142, 140, 140, 0.4);
    border-radius: 12px;
  }

  .custom-profile-card .image {
    width: 85px !important;
    height: 95px !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
}

@media (max-width: 1200px) {
  .home-carousel-section {
    flex-direction: column-reverse;
  }
  .custom-profile-card {
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 10px 10px rgba(142, 140, 140, 0.4);
    border-radius: 12px;
  }

  .custom-profile-card .image {
    width: 75px !important;
    height: 80px !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
}

@media (max-width: 992px) {
  
  .custom-profile-card {
    margin-bottom: 10px;
    margin-top: 10px !important;
  }
  .home-carousel-section {
    flex-direction: column-reverse;
    margin-bottom: 0px !important;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .carousel-image-slider {
    height: 250px;
    margin-bottom: 20px !important;
  }

  .custom-profile-card .image {
    width: 75px !important;
    height: 75px !important;
  }

  .custom-profile-card1 {
    margin-top: 0px !important;
    margin-bottom: -15px !important;
  }
}

@media (max-width: 768px) {
  .carousel-image-slider {
    height: 220px;
  }

  .swiper-pagination-bullet,
  .swiper-pagination {
    display: none !important;
  }

  .custom-profile-card .image {
    width: 70px !important;
    height: 70px !important;
  }

  .dot-container {
    margin-top: 10px;
  }

  .custom-profile-card1 {
    margin-top: 0px !important;
    margin-bottom: -20px !important;
  }
}

@media (max-width: 576px) {
  .carousel-image-slider {
    height: 180px;
  }

  .swiper-pagination-bullet {
    display: none !important;
  }

  .custom-profile-card1 .image {
    width: 70px;
    height: 55px;
  }

  .dot-container {
    display: none;
  }

  .col-xl-3,
  .col-lg-6,
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .custom-profile-card {
    padding: 8px;
  }

  .image-4 {
    object-fit: fill !important;
    height: 200px !important;
    width: 100% !important;
  }
  .custom-profile-card1 {
    margin-bottom: -10px !important;
  }
}

@media (max-width: 500px) {
  .carousel-image-slider {
    height: 200px !important;
  }

  .image-4 {
    object-fit: fill !important;
    height: 150px !important;
    width: 100% !important;
  }

  .custom-profile-card .image {
    width: 65px;
    height: 45px;
  }

  .col-xl-3,
  .col-lg-6,
  .col-md-6,
  .col-12 {
    padding: 5px;
  }

  .custom-profile-card1 {
    margin-top: -70px !important;
    margin-bottom: 70px !important;
  }
}