#lbt-css p {
  ffont-size: calc(var(--base-font-size));
  font-weight: 400;
  text-align: justify;
  color: #000000;
  letter-spacing: -0.32px;
}

#lbt-css .table-bordered td,
.table-bordered th {
  vertical-align: middle;
}

#lbt-css .bg-orange {
  background-color: #EDEDED !important;
}

#lbt-css .table-heading-styling {
  background: #EDEDED !important;
  color: #000000 !important;
  font-size: calc(var(--base-font-size) - 1px) !important;
  font-weight: 700 !important;
  line-height: 16.41px !important;
  padding: 10px 10px !important;
}

#lbt-css li {
  word-spacing: 0.2rem !important;
  line-height: 1.3rem !important;
  font-family: 'Roboto';
}

#lbt-css td {
  font-weight: 500 !important;
  font-size: calc(var(--base-font-size) - 2px) !important;
  line-height: 17.41px !important;
}