#administrative-css .system-style-div {
  display: flex;
  background-color: #F3F3F3;
  align-items: center;
  font-weight: 700;
  font-size: calc(var(--base-font-size));
  padding: 10px 20px;
}

#administrative-css .span-system1 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: calc(var(--base-font-size));
}