#rts-css p {
  text-align: justify;
  line-height: 1.8;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: calc(var(--base-font-size));
  color: #666565;
  word-spacing: 0.1rem;
  font-family: 'Roboto';
  margin-bottom: 25px;
}

#rts-css .table-bordered td,
.table-bordered th {
  vertical-align: middle;
}

#rts-css .bg-orange {
  background-color: #EDEDED !important;
}

#rts-css .table-heading-styling {
  background: #EDEDED !important;
  color: #000000 !important;
  font-size: calc(var(--base-font-size) - 1px) !important;
  font-weight: 700 !important;
  line-height: 16.41px !important;
  padding: 10px 10px !important;
}

#rts-css td {
  font-weight: 500 !important;
  font-size: calc(var(--base-font-size) - 2px) !important;
  line-height: 17.41px !important;
}