.standing-header-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-top: -20px;
  z-index: -1;
}

@media (max-width: 1024px) {
  .standing-header-image {
    height: 120px;
    background-size: cover;
    margin-top: -15px;
  }
}

@media (max-width: 768px) {
  .standing-header-image {
    height: 100px;
    background-size: cover;
    margin-top: -10px;
  }
}

@media (max-width: 480px) {
  .standing-header-image {
    height: 80px;
    background-size: cover;
    margin-top: -5px;
  }
}