.login-page {
  height: 100vh;
  background: #fdf8ed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  font-family: 'Roboto';
}

.row1 {
  margin: 0;
  height: 100%;
  width: 100%;
}

.left-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label1 {
  color: #323232;
  font-size: 14px;
  font-weight: normal;
}

.form-container1 {
  max-width: 450px;
  width: 100%;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 5px solid #ccc;
}

.form-container1 img {
  max-width: 100%;
  height: auto;
  max-height: 60px;
  margin: 0 auto;
  display: block;
}

.form-container1 h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form-control1 {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: inherit;
  font-size: 14px;
  height: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn1 {
  border-radius: 50px;
  font-size: 16px;
  min-width: 150px;
  padding: 8px 30px;
  text-transform: uppercase;
  background: linear-gradient(to right, #F57F42 0%, #F55570 100%);
  color: white;
}

.btn-clicked {
  border-radius: 50px;
  font-size: 16px;
  min-width: 150px;
  padding: 8px 30px;
  text-transform: uppercase;
  background: linear-gradient(to right, #F57F42 0%, #F55570 100%);
  color: white;
}

.a11 {
  color: #fff !important;
  font-size: 14px;
  text-decoration: none;
}

.btn-superadmin {
  background: #f8f2e3;
  color: black;
  font-weight: 400;
  padding: 5px 20px;
}

.btn-guest {
  background-color: #FFF7E2;
  color: black;
}

.retry-timer {
  color: #dc3545;
  font-weight: bold;
}

.attempts-remaining {
  color: #6c757d;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
    background-position: right;
  }

  .left-side {
    display: none;
  }

  .right-side {
    width: 100%;
  }

  .form-container {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .login-page {
    background-size: cover;
    background-position: left;
  }
}

@media (max-width: 480px) {
  .login-page {
    background-size: cover;
    background-position: left;
  }
}

.custom-btn12 {
  width: 35%;
  padding: 6px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: 0.3s;
}

.custom-cancel12 {
  background: #ccc;
  color: #333;
}

.custom-verify12 {
  background: linear-gradient(to right, #f57f42 0%, #f55570 100%);
  color: white;
}

.custom-button-container12 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.custom-btn12:disabled {
  cursor: not-allowed !important;   
  opacity: 0.6;                     
  pointer-events: none;            
}
