.custom-position-relative {
    position: relative;
  }
  
  .custom-password-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    cursor: pointer;
    z-index: 10;
    font-size: 15px;
  }