.circular-wrapper {
  overflow-x: auto;
  white-space: nowrap;
}

.last-updated-container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.last-updated-text {
  margin: 0;
  font-size: calc(var(--base-font-size) - 3px) !important;
  font-family: 'Roboto' !important;
}

.paginationtop {
  margin-top: -20px !important;
}

@media (max-width: 992px) {
  .circular-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .circular-wrapper::-webkit-scrollbar {
    height: 6px;
  }

  .circular-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .circular-wrapper::-webkit-scrollbar-thumb {
    background: #F37F1A;
    border-radius: 4px;
  }

  .circular-wrapper::-webkit-scrollbar-thumb:hover {
    background: #F37F1A;
  }
}

@media (max-width: 992px) {
  .paginationtop {
    margin-top: -15px !important;
  }
}